{{extend 'layout.html'}}
<div class="h-50 d-flex align-items-center" style="background-image: url(&quot;https://image.freepik.com/fotos-gratis/bokeh-abstrata-luzes-no-fundo-escuro_23-2147904884.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center col-md-6">
          <h1 class="text-white display-4">Cheques e Cobranças</h1>
          <p class="lead text-primary">Controle de Cheques e Cobranças</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-4 col-md-6">
          <h4><b>Preparação</b></h4>
          <p>Preparação é fundamental. Antes de fazer a ligação, imagine as possíveis desculpas que podem ser dadas e pense como refutá-las.<br><br><br>Antes de pegar o telefone, você precisa estar munido com todas as informações referentes à cobrança que será feita. Com os fatos em mãos, fica mais fácil de manter a conversa sob controle. Se a conversa for por um caminho que você não planejou, dificilmente os resultados serão positivos. Vale a pena ter em mãos informações como montante da dívida, termos de compra e venda, produtos ou serviços adquiridos, datas de vencimento e outras eventuais faturas em aberto.</p>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
            <h4><b>Postura</b></h4>
          <p>Evite perguntas simples, cujas respostas possam ser apenas sim ou não. Tente chegar o mais perto possível do devedor, para que ele possa fornecer o máximo de informações possível. Muitas vezes, eles não querem falar, mas a maneira como você busca extrair essas informações pode fazer a diferença.<br><br>Questões como o tom de sua voz podem afetar o caminho para o qual a conversa vai rumar. Se você for positivo e animador, a pessoa do outro lado da linha pode responder melhor. No entanto, ao mesmo tempo, você deve mostrar que está no controle, sem entrar na defensiva.</p>
        </div>
        <div class="p-4 col-lg-4">
          <h4><b>Perguntas</b></h4>
          <p>Tente evitar o confronto ao máximo, mas não permita que você seja manipulado. Tente determinar se aquela desculpa para o não pagamento da dívida é legítima. No entanto, cuidado para não fazer julgamentos precipitados e causar ainda mais problemas para a empresa.<br><br>Você deve dar opções para o devedor efetuar o pagamento. Se você oferecer determinada condição e a pessoa preferir outro método, como cartão de crédito, por exemplo, garanta a ela essa possibilidade.<br><br>Se você tem alguma dúvida ou sugestão sobre o assunto, busque ajuda de pessoas mais experientes.</p>
        </div>
      </div>
    </div>
  </div>
